@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

body {
    background-color: #051d40;
    font-family:'Iceland';
    margin: 0;
    padding: 0;
}

#overlayHeading {
    position: absolute;
    padding-top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #0239cfff;
}

#overlayHeading2 {
    position: absolute;
    padding-top: 12%;
    padding-left: 5%;
    padding-right: 5%;
    color: #0239cfff;
}

#Table {
    margin: 0 auto
}

#mat {
    background-color: transparent;
    width: 100%;
    height: 100%;
}