@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    background: transparent;
    font-family:'Iceland';
    color: #0239cfff;
    height: 10px;
    width: 30px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 10px;
    width: 10px;
    background-color: #0239cfff;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
}


html, body {
    background-color: #051d40;
    font-family:'Iceland';
    margin: 0;
    padding: 0;
    height: 100%;
}

#overlayHeading,
#overlayHeading2,
#Table,
#slider1, #clockcontain {
    position: relative; 
    z-index: 1;         
}

#overlayHeading {
    padding-top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #0239cfff;
}

#overlayHeading2 {
    position: absolute;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    color: #0239cfff;
}

#Table {
    margin: 0 auto
}

#slider1 {
    margin: 0 auto;
    text-align: center;
}

.inline {
    display: inline-block;
    margin: 0 5%;
    display: flex;    
    flex-direction: column;
    align-items: center;   
    gap: 10px;

}

.button {
    background-color: #0239cfff;
    font-family: 'Iceland';
}

#mat {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    pointer-events: none;
}

#clockcontain {
    text-align: center;

}

#clock {
    width: 20%;
    height: 20%;
}

span {
    font-weight: bold;
}

#label1, #label2, #label3, #label4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

#UserA,#UserB {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mid {
    margin-bottom: 10%;
}

#title {
    font-weight: bold;
    font-size: large;
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}